extends layout

block content
  h1= title
  p Welcome to #{title}

  h2="Example"
  a(href="/calendar/01/01/2022") Example /calendar/01/01/2022 

  p=But even better...

  h2="Run tests with npm test"